
<div class="album text-muted">
  <div class="container">
    <div class="row <%="sortable" if logged_in?(:site_admin) %>">
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
    </div>
  </div>
</div>

<!-- <style>
  .text-muted,.navbar{
    color:#fff;
    background: #c5c5c5;
  }
  .navbar button{
    border: 1px solid #fff;
    background: #fff;
  }
</style> -->