<div class="inner cover" style="margin-bottom: 10px; margin-top: 100px;">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">不想要接下來的的歲月是工作、工作、工作和無聊到死的生活,藉由學習,能夠有更大的視野和更多的可能性,當未來有了新點子,想運用科技讓自己的想法不在只是想法,而是真實的</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
  <p class="lead">
    Admin帳號<br>
    123456@xxx.com<br>
    Admin密碼<br>
    123456<br>
</div>



 